.videoRow {
	display: flex;
	margin-bottom: 30px;
	max-width: 700px;
}

.videoRow > img {
	object-fit: contain;
	width: 246px;
	height: 138px;
}

.videoRow__text {
	margin-left: 14px;
}

.videoRow__description {
	margin-top: 20px;
	font-size: 12px;
	color: #909090;
}

.videoRow__headline {
	font-size: 12px;
	color: #909090;
}

.videoRow__subsNumber {
	font-weight: bold;
	color: rgb(84, 157, 211);
}

.videoRow__subs {
	background-color: #424242;
	padding: 2px;
}
